module.exports = {
  // Bot token. https://discordapp.com/developers/applications/me
  // Used for starting the bot. Required for adding commands to the server with commands.js.
  TOKEN: '',

  // Bot Client ID.
  // Required for adding commands to the server with commands.js.
  CLIENT: '',

  // Server ID.
  // Used for the fetch/nickname/nitro/streaming plugins and for logging deleted messages/banned users in index.js.
  // Required for adding commands to the server with commands.js.
  SERVER: '',

  // User tokens.
  // Used for the fetch/leaderboard plugins.
  USER1: '',
  USER2: '',

  // Cleverbot key. https://www.cleverbot.com/api
  // Used for the chat command.
  CLEVERBOT: '',

  // Twitter keys. https://developer.twitter.com/en/apps
  // Used for the twitter plugin.
  CONSUMER_KEY: '',
  CONSUMER_SECRET: '',
  ACCESS_TOKEN: '',
  ACCESS_TOKEN_SECRET: '',

  // Announcements/Annonces/Ads/Almanax/Bot/Leaderboard/Log channel IDs.
  // Used for the cleanup/rss/twitter/youtube plugins.
  CHANNEL_ANNOUNCEMENTS: '',
  CHANNEL_ANNONCES: '',
  CHANNEL_ADS: '',
  // Used for the almanax plugin.
  CHANNEL_ALMANAX: '',
  // Used for the ads/warn commands.
  CHANNEL_BOT: '',
  // Used for the leaderboard plugin.
  CHANNEL_LEADERBOARD: '',
  // Used for the warn command and logging deleted messages/banned users in index.js.
  CHANNEL_LOG: '',

  // Nitro Booster/Streamer/Streaming/Leaderboard role IDs.
  // Used for the colour command and the nitro plugin.
  ROLE_NITRO: '',
  // Used for the streaming plugin.
  ROLE_STREAMER: '',
  ROLE_STREAMING: '',
  // Used for the image command.
  ROLE_IMAGE: '',
  // Used for the info command and the fetch plugin.
  ROLE_IRON: '',
  ROLE_COPPER: '',
  ROLE_BRONZE: '',
  ROLE_SILVER: '',
  ROLE_GOLD: '',
  ROLE_CRYSTAL: '',
  ROLE_DIAMOND: '',
  ROLE_LEGEND: '',
  ROLE_EPIC: '',
  ROLE_OMEGA: '',

  // Other variables. Can enter anything to enable or leave blank to disable.
  // Used for the nickname plugin.
  NICKNAME: '',
  // Used for the rules command.
  RULES: '',
  // Used for the express plugin.
  LOCAL: ''
}