module.exports = {
  // Bot token. https://discordapp.com/developers/applications/me
  TOKEN: '',
  // Cleverbot key. https://www.cleverbot.com/api
  CLEVERBOT: '',
  // Twitter keys. https://developer.twitter.com/en/apps
  CONSUMER_KEY: '',
  CONSUMER_SECRET: '',
  ACCESS_TOKEN: '',
  ACCESS_TOKEN_SECRET: '',
  // User token.
  USER: '',
  // Client/Bot ID
  CLIENT: '',
  // Server/Guild ID
  SERVER: '',
  // Announcements/Annonces/Ads/Almanax/Log channel IDs.
  CHANNEL_ANNOUNCEMENTS: '',
  CHANNEL_ANNONCES: '',
  CHANNEL_ADS: '',
  CHANNEL_ALMANAX: '',
  CHANNEL_LOG: '',
  // Nitro Booster/Streamer/Streaming role IDs.
  ROLE_NITRO: '',
  ROLE_STREAMER: '',
  ROLE_STREAMING: '',
  // Nickname plugin.
  NICKNAME: '',
  // Local install.
  LOCAL: ''
}